body {
  background: #e3d5ca;
}

.react-flow__node-custom {
  font-size: 10px;
  width: 180px;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 8px;
  border-width: 3px;
  border-style: solid; 
  border-color: rgb(245, 235, 224);;
}

.react-flow__node-custom .react-flow__handle {
  width: 24px;
  border-radius: 2px;
  background-color: #4a4e69;
}

.react-flow__node.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.react-flow__node.annotation {
  border-radius: 0;
  text-align: left;
  background: white;
  border: none;
  line-height: 1.4;
  width: 225px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
}

.react-flow__node.annotation .react-flow__handle {
  display: none;
}

.custom-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.custom-node__body {
  padding: 10px;
}

.custom-node__select {
  position: relative;
  margin-bottom: 10px;
}

.custom-node__select select {
  width: 100%;
  margin-top: 5px;
  font-size: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 400px;
  display: inline-block;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.selected-node-info-display {
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 200px;
  min-height: 50px;
  margin: 0;
  padding: 5px;
  padding-left: 12px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.selected-node-info-display p {
  margin: 0;
  line-height: 120%;
}

.flow-container {
  height: calc(100vh - 160px)
}

.info-panel {
  z-index: 100;
  position: absolute;
  top: 70px;
  left: -85px;
  height: 250px;
  width: 85px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  transition: left 0.5s;
}
.info-panel.isOpen {
  left: 10px;
}

.panel-title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0.3em;
}

.centrality-scale {
  position: relative;
  display: flex;
  height: 120px;
  width: 60px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.labels {
  height: 100%;
}
.labels p {
  margin: 0;
  font-size: 11px;
  font-weight: 700;
}
.labels .top {
  position: absolute;
  top: 0;
}
.labels .bottom {
  position: absolute;
  bottom: 0;
}

.gradient {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20px;
  background-image: linear-gradient(#6904c1, #feff00);
}

.edge-legend > p {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 130%;
}

.edge {
  width: 60px;
  height: 0px;
  border-width: 3px;
  border-style: none;
  border-top-style: dashed;
  margin-bottom: 5px;
}
.edge.red{
  border-color: red;
}
.edge.blue{
  border-color: #4782ff;
}

.show-button {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 15px;
  right: -30px;
}

.arrow-left {
  position: relative;
  top: 5px;
  left: 8px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 

  border-right:10px solid #a2a2a2; 
}

.arrow-left:hover {
  border-right: 10px solid grey;
}

.arrow-right {
  position: relative;
  top: 5px;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid #a2a2a2;
}

.arrow-right:hover {
  border-left: 10px solid grey;
}